@model IEnumerable<cmsShoppingCard.Models.ViewModels.PageViewModel>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>


<p>
    @Html.ActionLink("Add new Page", "AddPage")
</p>
@if (!Model.Any())
{
    <h2 class="text-center"> There is no pages.</h2>
}
else
{
    <table class="table sorting" id="sorting_items">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasSidebar)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasSidebar)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                    @Html.ActionLink("Details", "PageDetails", new { id = item.Id })

                    @if (item.Slug != "home")
                    {
                        <text>|</text> @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete" })
                    }
                </td>
            </tr>
        }
    </table>
}


@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script>
        $(function () {

            /*
            Confirm page deletion
            */
            $('a.delete').click(function (e) {
                if (!confirm("Confirm page deletion")) return false;
            });


            /*
            Drag and drop funcitonality
          */

            $('table#sorting_items tbody').sortable({
                items: 'tr:not(.home)',
                placeholder: 'ui-state-highlight',
                update: function () {
                    var ids = $('table#sorting_items tbody').sortable('serialize');
                    var url = '/Admin/Pages/ReorderPages'

                    $.post(url, ids, function (data) { })
                }

            });
        });

    </script>
}

